<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head.ejs"), {title} -%>
  </head>
  <body class="bg-dark text-white">
    <div class="container">
      <%- include("./partials/navbar.ejs"), {title} -%> <%-
      include("./partials/form.ejs") -%>

      <div>
        <%- include("./partials/priceSummary.ejs"), {totalSpent, totalProfit}
        -%> <%- include("./partials/table.ejs"), {items} -%>
      </div>
    </div>
  </body>
</html>
